nav{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    width: 150px;
}
.links{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    font-size: 20px;
}
.links a{
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
}
.links a.active{
    padding-bottom:2px ;
    border-bottom: 2px solid #49557e;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-right .search{
    cursor: pointer;
}
.nav-right .nav-bar-basket{
    position: relative;
}
.nav-right .nav-bar-basket .basket{
    cursor: pointer;
}
.nav-right .nav-bar-basket .dot{
    position: absolute;
    top: -8px;
    width: 10px;
    right: -8px;
    height: 10px;
    border-radius: 50%;
    background-color: tomato;
    -webkit-border-radius: 50%;
}
.nav-right button{
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    color: black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    font-size: 16px;
    text-transform: capitalize;
}
.nav-right button:hover{
    background-color: tomato;
    color: white ;
}

@media (max-width:1050px) {
    .logo{
        width: 140px;
    }
    .links{
        gap: 20px;   
        font-size: 17px;
    }
    .nav-right{
        gap: 20px;
    }
    .nav-right img{
        width: 22px;
    }
    .nav-right button{
        padding: 5px 20px;
        font-size: 15px;
    }
}
@media (max-width:900px) {
    .logo{
        width: 120px;
    }
    .links{
        gap: 15px;   
        font-size: 15px;
    }
    .nav-right{
        gap: 15px;
    }
    .nav-right img{
        width: 20px;
    }
    .nav-right button{
        padding: 5px 15px;
        font-size: 12px;
    }
}
@media (max-width:800px) {
    .logo{
        width: 80px;
    }
    .links{
        display: none;
    }

}